<%= form_with(model: [@room, stock], local: true) do |form| %>
  <% if stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock.errors.count, "error") %> prohibited this stock from being saved:</h2>
      <ul>
        <% stock.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_name %>
    <%= form.text_field :product_name %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %> <!-- ここでファイル選択フィールドを追加 -->
  </div>

  <div class="field">
    <%= form.label :stock_status %>
    <%= form.select :stock_status, Stock.stock_statuses.keys.map { |status| [status.humanize, status] } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
