<%= stylesheet_link_tag 'contacts', media: 'all', 'data-turbo-track': 'reload' %>
<h1>お問い合わせ内容一覧</h1>

<% if @contacts.present? %>
  <% @contacts.each do |contact| %>
    <div class="contact-item">
      <p><strong>送信者:</strong> <%= contact.user.email %></p>
      <p><strong>お問い合わせ内容:</strong> <%= contact.content.present? ? contact.content : "お問い合わせ内容が記入されていません。" %></p>
      <p><small><%= contact.created_at.strftime("%Y-%m-%d %H:%M") %></small></p>

      <% if current_user&.admin? || current_user == contact.user %>
        <%= link_to '返信する', reply_contact_path(contact), class: 'btn btn-reply' %>
      <% end %>

    </div>
  <% end %>

  <!-- ページネーションのリンク -->
  <%= paginate @contacts %>
<% else %>
  <p>現在お問い合わせ内容はありません。</p>
<% end %>