<%= stylesheet_link_tag 'contacts', media: 'all', 'data-turbo-track': 'reload' %>
<h1>お問い合わせ内容一覧</h1>

<% if @contacts.present? %>
  <% @contacts.each do |contact| %>
    <div class="contact-item">
      <p>送信者: <%= contact.user.email %></p>
      <p>お問い合わせ内容: <%= contact.content.present? ? contact.content : "お問い合わせ内容が記入されていません。" %></p>
      <p><small><%= contact.created_at.strftime("%Y-%m-%d %H:%M") %></small></p>
    </div>
  <% end %>

  <%= paginate @contacts %> <!-- ページネーションリンクを表示 -->
<% else %>
  <p>現在お問い合わせ内容はありません。</p>
<% end %>
