<%= turbo_stream.replace "contact_<%= @contact.id %>" do %>
  <div id="contact_<%= @contact.id %>">
    <p><%= @contact.status %></p>
    <%= link_to '解決済みにする', resolve_contact_path(@contact), method: :patch, class: 'btn btn-close' %>
  </div>
<% end %>
