<!DOCTYPE html>
<html>
<head>
  <title>OriginalAppV1</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
  <!-- スマホ版用のハンバーガーメニュー -->
  <div class="hamburger-menu">
    <span class="hamburger-icon" onclick="toggleMenu()">&#9776;</span>
    <div id="menu-content" class="menu-content">
      <% unless current_page?(root_path) %>
        <%= link_to 'トップページに戻る', root_path, class: 'btn btn-warning' %>
      <% end %>

      <% if user_signed_in? %>
        <% unless current_page?(root_path) %>
          <%= link_to 'アカウント編集', edit_user_registration_path, class: 'btn btn-warning' %>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- PC版のボタン配置 -->
  <div class="header-buttons" style="position: absolute; top: 10px; right: 10px;">
    <% unless current_page?(root_path) %>
      <%= link_to 'トップページに戻る', root_path, class: 'btn btn-warning' %>
    <% end %>

    <% if user_signed_in? %>
      <% unless current_page?(root_path) %>
        <%= link_to 'アカウント編集', edit_user_registration_path, class: 'btn btn-warning' %>
      <% end %>
    <% end %>
  </div>
</header>

<%= yield %>
<%= javascript_include_tag 'stocks' %>
<script>
  // ページ読み込み時にハンバーガーメニューを非表示にする
  document.addEventListener("DOMContentLoaded", function() {
    var menu = document.getElementById("menu-content");
    menu.style.display = "none"; // 初期状態で非表示
  });

  // ハンバーガーメニューの表示・非表示を切り替えるスクリプト
  function toggleMenu() {
    var menu = document.getElementById("menu-content");
    if (menu.style.display === "block" || menu.style.display === "") {
      menu.style.display = "none";
    } else {
      menu.style.display = "block";
    }
  }
</script>
</body>
</html>
